npm init -y
npm i express express-handlebars mongoose morgan
npm i -D @babel/core @babel/cli @babel/node @babel/preset-env nodemon
npm i dotenv



npm install --save-dev @babel/plugin-transform-regenerator
* node dist/index.js
npm i ncp -D

git remote add origin https://github.com/Estedesarrollador/node-mongodb-tasks-crud.git
git remote -v

npm i @babel/runtime